html {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}

*, ::after, ::before {
    box-sizing: inherit;
    
}

.body {
    font-family: 'Open Sans', sans-serif;
    word-break: break-word;
    padding: 20px;
    background-color:rgb(238, 238, 238);
}